/* CONTENEDOR GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    font-family: 'Gochi Hand', cursive;
    background-color: #fff;
    margin: 0;
    padding: 0;
}


.areas-container {
    text-align: center;
    padding: 20px;
}

/* TÍTULO */
.titulo-areas {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: bold;
}

/* CONTENEDOR TABLA */
.tabla-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* TABLA */
.tabla-areas {
    width: 85%;
    border-collapse: collapse;
    font-size: 18px;
    background-color: white;
    border: 3px solid #888;
}


.tabla-areas th {
    border: 1px solid #666;
    background-color: #eee;
    padding: 10px;
}


/* CELDAS */
.tabla-areas td {
    padding: 12px;
    border: 1px solid #666;
}

/* FILAS ALTERNADAS */
.tabla-areas tr:nth-child(even) {
    background-color: #dcdcdc;
}

/* INFO AREA */
.info-area {
    text-align: left;
    padding-left: 20px;
}

/* ACCIONES (ICONOS) */
.acciones {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icon-btn img {
    width: 35px;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon-btn img:hover {
    transform: scale(1.2);
}

/* BOTÓN AGREGAR */
.btn-agregar-wrapper {
    text-align: center;
}

.btn-agregar {
    display: inline-block;
    padding: 15px 40px;
    background-color: #f3f3f3;
    border: 3px solid #666;
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: 0.2s;
    font-family: 'Gochi Hand', cursive;
}

.btn-agregar:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.icon-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
